<div style="margin: 0px auto 0px auto; width: 400px;">
<h1> <%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>
<p>Category: <%= @restaurant.category %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
<p>Reviews:</p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
  <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>

<%= link_to "home", restaurants_path, class: "btn btn-primary" %>
<%= link_to "Leave a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>
</div>
